
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto; 
    display: none; 
    background: rgba(0, 0, 0, 0.4);
    color: gray;
 } 
#modal-textbox {
    background-color: ghostwhite;
	height: 350px;
    width: 550px;
    overflow: auto;
	border-radius: 4px;
	margin: 150px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	line-height: 150%;
    font-family: VT323, monospace;
    font-size: 25px;
} 
#modal-footer{
    display: flex;
    justify-content: flex-end;
}
#close{
    display: flex;
    justify-content: flex-end;
    font-family: VT323, monospace;
    font-size: 20px;
    border-radius: 4px;
    background-color: orangered;
}
#modal-heading {
    padding-bottom: 15px;
    color: orangered;
    font-family: VT323, monospace;
    font-size: 50px;
}
.modal-buttons {
    display: flex;
    justify-content: center;
	padding: 14px 18px;
	background-color: gray;
	border: none;
	outline: none;
	border-radius: 4px;
    color: ghostwhite;
    font-family: VT323, monospace;
    cursor: pointer;
} 
.open-container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
#openModal{
    text-align: center;
    font-size: 17px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
#play-game-btn{
    text-decoration: none;
    background-color: gray;
    border-radius: 4px;
    padding: 40px 55px;
    font-family: VT323, monospace;
    color: ghostwhite;
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .giphy-container{
    display: flex;
    justify-content: space-around;
    margin: 0;
} */
/* #red{
    width: 100px;
    height: 100px;
} */
/* #blue{
    width: 100px;
    height: 100px;
} */
#openModal:hover{
    border: 3px solid orangered;
}
#play-game-btn:hover{
    border: 3px solid orangered;
}

/* css for main */
 

div > #main-header{
    text-align: center;   
    margin-top: 140px;
    margin-bottom: 60px;
    font-size: 150px;
    color: orangered;
    font-family: VT323, monospace;
}

/* styling for level one page */

html{
    height: 100vh;
}
#home-button{
    text-decoration: none;
    border: 1px solid black;
    padding: 3px;
    border-radius: 2px;
    font-family: VT323, monospace;
}
#level-one{
    background: ghostwhite;
}
#blue-runner {
    position:absolute;
    top:540px;
    left:200px;
    right:200px;
    width:100px;
  }
#red-runner {
    position:absolute;
    top:420px;
    left:200px;
    right: 200px;
    width:100px;
  }
#finish-line{
    position:absolute;
    top:450px;
    left:875px;
    right: 200px;
    width: 120px;
}
.blue-moves{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    height: 130px;
    width: 100%;  
}
.run-button{
    padding-left: 40px;
    padding-right: 40px;
    font-family: VT323, monospace;
    font-size: 30px;
    color: rgb(83, 171, 224);
    background-color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.red-moves{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    height: 130px;
    width: 100%;
    margin-bottom: 40px;
}
.red-run-button{
    padding-left: 40px;
    padding-right: 40px;
    font-family: VT323, monospace;
    font-size: 30px;
    color: rgb(196, 55, 37);
    background-color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.run-button:hover{
    cursor: pointer;
    border: 3px solid rgb(83, 171, 224);
}
.red-run-button:hover{
    cursor: pointer;
    border: 3px solid rgb(196, 55, 37);
}




